.Age{
 margin-top:0;
 margin-left:0;
 border:3px solid violet;
 display:block;
 height:auto;
 width:974px;
}
h2{
  font-size: 50px;
}
select{
  height: 160px;
  width: 165px;
  font-size: 40px;
}
select:hover{
  background: aqua;
}
option{
  text-align: center;
  font-size: 40px;
}
option:active{
  background: pink;
}
button{
  display:inline-block;
  text-align:center;
  width:500px;
  color:black;
  height: 160px;
  font-size:60px;
  margin-left:220px;
}
button:active{
  background: green;
  box-shadow: 2px 2px 8px 2px green;
}
#year{
  margin-left:220px;
}
h2{
  text-align: center;
  color:green;
  background: #d4f3fb;
}
#demo{
  font-size: 60px;
  background: #bcbdbe;
  color:#e8073b;
  text-align:center;
}
#demo1{
  margin-left:5px;
  font-size:60px;
}
